#tooltip{
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.738);
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    z-index: 40;
}
#bar_chart{
    width: 100%;
    position: relative;
    display: flex;
}
